body {
  margin: 0;
  padding: 0;
  background-color: #f8f5e6;
  font-family: 'Jost', sans-serif;
  color: #050505;
}

header{
  width:100%;
  height: 75px;
  align-content: center;
  text-align: center;
  padding: 10px 30px;
  background-color: #83d5cf;
  color: #050505;
}

/* #actions, table{
  
} */

table{
  color: #050505;
  table-layout: fixed;
  font-size: 14px;
  border-collapse: collapse;
  border: solid 1px #ec6c7c;
}

th{
  background: #ec6c7c;
  padding: 20px 15px;
  font-weight: 700;
  text-transform: uppercase;
}

td{
  padding: 15px;
}

tbody tr:hover{
  background: #f8ded8;
}


